{% extends 'base.html.twig' %}

{% block title %}Бронирование{% endblock %}

{% block body %}
    <h1>Добро пожаловать на сайт бронирования туров</h1>
    <p>Здесь вы можете заказать туры в разные страны.</p>
    <p>Чтобы продолжить работу с сайтом, зарегистрируйтесь или авторизуйтесь!</p>
    <p><a href="{{ path('app-sign-up') }}">Зарегистрироваться</a></p>
    <p><a href="{{ path('auth') }}">Авторизоваться</a></p>
{% endblock %}