{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <h1>Вы находитесь на главной странице</h1>
    <p>Здравствуйте, {{ user.email }}! Вы успешно авторизовались и можете выбрать и забронировать тур.</p>
{% endblock %}